.button-34 {
    background: #FFD18C;
    border-radius: 999px;
    box-shadow: #FFD18C 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FD6D2F;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    cursor: pointer;
    margin-left: 40%;
}
.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    width: 33%;
    height: auto;
}
.signup {
    background: #DFAFDB;
    border-radius: 990px;
    box-shadow: #FFD18C 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FD6D2F;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    cursor: pointer;
    margin-left: 35%;
}

.email-container {
    display: flex;
    align-items: center;
    margin-left: 35%;
    margin-top: 5%;
}

.label {
    font-weight: bold;
    margin-right: 20px;
    color: #FD6D2F;
    font-size: 20px;
}